############################
# Archivos Java
############################

# Archivos compilados (.class)
*.class

# Archivos de log
*.log

# Archivos de BlueJ
*.ctxt

# Archivos temporales de Mobile Tools for Java (J2ME)
.mtj.tmp/

# Archivos empaquetados (JAR, WAR, etc.)
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Registros de errores de la máquina virtual Java
hs_err_pid*
replay_pid*

############################
# Maven
############################

# Carpeta de salida de compilación
/target/

# Archivos temporales de Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

############################
# Eclipse
############################

# Archivos de configuración del proyecto
.classpath
.project
.settings/
.loadpath

# Carpetas temporales de Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Configuraciones de lanzamiento
*.launch

# Recomendaciones de Eclipse
.recommenders/

############################
# Archivos temporales
############################

# Archivos temporales
*.tmp
*.temp

############################
# Archivos del sistema Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
